<launch>
  <!-- Launch the RealSense camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <!-- RealSense camera configuration parameters -->
    <arg name="enable_pointcloud" value="true" />
    <arg name="align_depth" value="true" />
    <arg name="color_width" value="848" />
    <arg name="color_height" value="480" />
    <arg name="color_fps" value="30" />
    <arg name="depth_width" value="848" />
    <arg name="depth_height" value="480" />
    <arg name="depth_fps" value="30" /> 
  </include>

  <arg name="pkg_path" value="$(find pose_estimation)" />
  
  <!-- Then set the weights_path parameter with the resolved path -->
  <param name="weights_path" value="$(arg pkg_path)/weights/yolov8l-seg-300.pt" />
  <!-- Start the fruit detection node -->
  <node name="fruit_coarse_pose" pkg="pose_estimation" type="fruit_coarse_pose.py" output="screen">
  <!-- <node name="fruit_pcd" pkg="pose_estimation" type="fruit_point_cloud2.py" output="screen"> -->
    <!-- You can add parameters here if neehhd -->
    <!-- <param name="detection_threshold" value="0.75" /> -->
  </node>
</launch>