<launch>
  <arg name="GRIPPER_CAM_SERIAL" value="128422272240" />

  <!-- Launch the RealSense camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <!-- RealSense camera configuration parameters -->
    <arg name="serial_no" value="$(arg GRIPPER_CAM_SERIAL)" />
    <arg name="enable_pointcloud" value="false" />
    <arg name="align_depth" value="true" />
    <arg name="color_width" value="848" />
    <arg name="color_height" value="480" />
    <arg name="color_fps" value="30" />
    <arg name="depth_width" value="848" />
    <arg name="depth_height" value="480" />
    <arg name="depth_fps" value="30" /> 
  </include>

  <arg name="pkg_path" value="$(find vader_perception)" />
  
  <!-- Then set the weights_path parameter with the resolved path -->
  <param name="fruit_weights_path" value="$(arg pkg_path)/weights/fruit.pt" />
  <param name="fruit_drive_url" value="https://drive.google.com/uc?id=1NxZJamK4m9ba1k67vGCFOqA-DMo1QIyR" />
  <param name="peduncle_weights_path" value="$(arg pkg_path)/weights/peduncle.pt" />
  <param name="peduncle_drive_url" value="https://drive.google.com/uc?id=1s2f56Wwm9Cy0P0Oj5mSOd_Re7h5PyQ_I" />
  
  <!-- Segmentation Confidence -->
  <param name="fruit_confidence" value="0.85" />
  <param name="peduncle_confidence" value="0.2" />

  <!-- Start the fruit detection node -->
  <node name="pose_estimation" pkg="vader_perception" type="pose_estimation_node.py" output="screen">
  </node>

  <!-- Launch RViz with custom configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg pkg_path)/rviz_config/gripper_cam.rviz" />
</launch>
